PORT=8080
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8080"
ALLOWED_METHODS="GET,PUT,CREATE,DELETE,PATCH,OPTIONS"
DATABASE_URL=postgresql://user:password@localhost:5432/db_name
DEBUG_LOGS=1
GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret
